<!-- START SIGMA IMPORTS -->
<script src="src/sigmajs/sigma.core.js"></script>
<script src="src/sigmajs/conrad.js"></script>
<script src="src/sigmajs/utils/sigma.utils.js"></script>
<script src="src/sigmajs/utils/sigma.polyfills.js"></script>
<script src="src/sigmajs/sigma.settings.js"></script>
<script src="src/sigmajs/classes/sigma.classes.dispatcher.js"></script>
<script src="src/sigmajs/classes/sigma.classes.configurable.js"></script>
<script src="src/sigmajs/classes/sigma.classes.graph.js"></script>
<script src="src/sigmajs/classes/sigma.classes.camera.js"></script>
<script src="src/sigmajs/classes/sigma.classes.quad.js"></script>
<script src="src/sigmajs/classes/sigma.classes.edgequad.js"></script>
<script src="src/sigmajs/captors/sigma.captors.mouse.js"></script>
<script src="src/sigmajs/captors/sigma.captors.touch.js"></script>
<script src="src/sigmajs/renderers/sigma.renderers.canvas.js"></script>
<script src="src/sigmajs/renderers/sigma.renderers.webgl.js"></script>
<script src="src/sigmajs/renderers/sigma.renderers.svg.js"></script>
<script src="src/sigmajs/renderers/sigma.renderers.def.js"></script>
<script src="src/sigmajs/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="src/sigmajs/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="src/sigmajs/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="src/sigmajs/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="src/sigmajs/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="src/sigmajs/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.utils.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="src/sigmajs/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="src/sigmajs/middlewares/sigma.middlewares.rescale.js"></script>
<script src="src/sigmajs/middlewares/sigma.middlewares.copy.js"></script>
<script src="src/sigmajs/misc/sigma.misc.animation.js"></script>
<script src="src/sigmajs/misc/sigma.misc.bindEvents.js"></script>
<script src="src/sigmajs/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="src/sigmajs/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
  </style>
  <h1 style='padding-left: 20px' id='graph_name'></h1>
  <div style="position: relative; z-index: 3; ">

    <div class="slidecontainer">
    		<input type="range" min="1" max="5000" value="1" class="slider" id="nodes_n">
    </div>

    <div class="slidecontainer" >
    		<input type="range" min="1" max="5000" value="1" class="slider" id="edges_n">
    </div>

    <div>
      <input type="checkbox" id="toogle_edges" checked>
      <label for="toogle_edges">Display Edges</label>
    </div>

  </div>

  <div id="graph-container"></div>

</div>

<script src="src/sigmajs/plugins/sigma.layout.forceAtlas2/worker.js"></script>
<script src="src/sigmajs/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>
<script src="src/oscjs/osc-browser.min.js"></script>
<script src="modules/sigma_control.js"></script>
<script src="modules/osc_control.js"></script>
<script type="text/javascript">
var socketGraph = new OscApp.SocketGraph();
</script>